<template name="UserSettingsProfile">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> UserSettingsProfileEditForm}}
	</div>
</template>

<template name="UserSettingsProfileEditForm">
	<div id="user-settings-profile-edit-form" class="">
		<div id="component-title" class="setting-title">
			Edit your profile
		</div>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}

			{{#if isCoach}}
				<div class="form-group  field-profile-photo">
					<label for="profile.photo">
						Profile Picture
					</label>
					{{#unless isChangingPhoto}}
						<p>
							<img src="{{ getProfilePictureSource }}" width="150" height="100" />
						</p>
					{{/unless}}
					<div class="input-div">
						<!-- <button id="triggerPhotoUploader" type="button" class="btn btn-primary"> Upload Photo </button>
						<input type="file" id="profilePhoto" name="profile.photo" class="hidden"> -->
						<input type="file" id="profilePhoto" class="file" multiple="false" data-show-upload="false" data-show-caption="false">
						<input type="hidden" id="profile-img-id" name="profile.imageId" />
						<span id="help-text" class="help-block">
						</span>
						<span id="error-text" class="help-block">
						</span>
					</div>
				</div>
			{{/if}}
			
			<div class="form-group  field-profile-name">
				<label for="profile.name">
					Name
				</label>
				<div class="input-div">
					<input type="text" name="profile.name" value="{{current_user_data.profile.name}}" class="form-control setinput-font" autofocus="autofocus" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-profile-email">
				<label for="profile.email">
					E-mail
				</label>
				<div class="input-div">
					<input type="text" name="profile.email" value="{{current_user_data.profile.email}}" class="form-control setinput-font" required="required" data-type="email">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			{{#if isCoach}}
				<div class="form-group field-profile-bio">
					<label for="profile.bio">
						About Me
					</label>
					<div class="input-div">
						<textarea name="profile.bio" value="{{current_user_data.profile.bio}}" class="form-control"></textarea>
						<span id="help-text" class="help-block">
						</span>
						<span id="error-text" class="help-block">
						</span>
					</div>
				</div>
				<div class="form-group field-profile-philosophy">
					<label for="profile.philosophy">
						Philosophy
					</label>
					<div class="input-div">
						<textarea name="profile.philosophy" value="{{current_user_data.profile.philosophy}}" class="form-control"></textarea>
						<span id="help-text" class="help-block">
						</span>
						<span id="error-text" class="help-block">
						</span>
					</div>
				</div>
			{{/if}}
			<div class="form-group  field-profile-facebook">
				<label for="profile.facebook">
					Facebook URL
				</label>
				<div class="input-div">
					<input type="text" name="profile.facebook" value="{{current_user_data.profile.facebook}}" class="form-control setinput-font">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-profile-google">
				<label for="profile.google">
					Google+ URL
				</label>
				<div class="input-div">
					<input type="text" name="profile.google" value="{{current_user_data.profile.google}}" class="form-control setinput-font">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-profile-twitter">
				<label for="profile.twitter">
					Twitter ID
				</label>
				<div class="input-div">
					<input type="text" name="profile.twitter" value="{{current_user_data.profile.twitter}}" class="form-control setinput-font">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-profile-website">
				<label for="profile.website">
					Website URL
				</label>
				<div class="input-div">
					<input type="text" name="profile.website" value="{{current_user_data.profile.website}}" class="form-control">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div align-center">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</template>

