<template name="HomePublic">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> HomePublicHomeJumbotron}}
	</div>
</template>

<template name="HomePublicHomeJumbotron">
	<div align="center" class="video-wrapper embed-responsive embed-responsive-16by9">
	    <video id="logo-vid" autoplay preload="auto" muted loop class="embed-responsive-item" poster="/images/smashbeats_logo.png">
	        <source src="/videos/logo.mp4" type="video/mp4">
	    </video>
	</div>
</template>

