<template name="SetsDetails">
	<div class="page-container container">
		<div class="row">
			<div class="col-md-12" id="content">
				<div class="row" id="title_row">
					<div class="col-md-12">
						<div id="page_menu" class="pull-right">
						</div>
					</div>
				</div>
				{{> SetsDetailsDetailsForm}}
				<div class="form-horizontal">
					<h5>
						{{#if set_details.isDefault}}
							<a href="#" class="execute-set-btn text-lead">
								Smash it!
							</a>
						{{/if}}

						{{#unless set_details.isDefault}}
							{{#if set_details.preview_count}}
								<a href="#" class="execute-set-btn text-lead">
									Preview Live page
								</a>
							{{else}}
								<a href="#" class="buy-set-btn text-lead">
									Buy
								</a>
							{{/if}}
						{{/unless}}
					</h5>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" id="menu">
			</div>
		</div>
		<div class="row hidden">
			<div class="col-md-12" id="subcontent">
				{{> yield region='SetsDetailsSubcontent'}}
			</div>
		</div>
	</div>
</template>

<template name="SetsDetailsDetailsForm">
	<div id="sets-details-details-form" class="">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			{{set_details.setName}}
		</h2>
		<form role="form" class="form-horizontal">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-set-name">
				<label for="setName" class="col-sm-3 control-label">
					Set Name
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static control-field-set-name">
						{{set_details.setName}}
					</p>
				</div>
			</div>
			<div class="form-group  field-set-duration hidden">
				<label for="setDuration" class="col-sm-3 control-label">
					Duration
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static control-field-set-duration">
						{{set_details.setDuration}}
					</p>
				</div>
			</div>
			<div class="form-group  field-type">
				<label for="type" class="col-sm-3 control-label">
					Type
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static control-field-type">
						{{set_details.type}}
					</p>
				</div>
			</div>
			<div class="form-group  field-publish">
				<label for="publish" class="col-sm-3 control-label">
					Publish
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static control-field-publish">
						{{booleanToYesNo set_details.publish}}
					</p>
				</div>
			</div>
			<div class="form-group  field-song-id">
				<label for="songId" class="col-sm-3 control-label">
					Song (mp3 only)
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static control-field-song-id">
						{{set_details.songId}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div col-sm-9 col-sm-offset-3">
				</div>
			</div>
		</form>
	</div>
</template>

