<template name="SetsInsert">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div id="page_menu" class="set-title">
				<div class="title-middle">
					<span>New Set</span>
				</div>
			</div>
		</div>
		{{> SetsInsertInsertForm}}
	</div>
</template>

<template name="SetsInsertInsertForm">
	<div id="sets-insert-insert-form" class="insert-form">
		<!--h2 id="component-title">
			New set
		</h2-->
		<form role="form" class="form-div">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-set-name">
				<div class="option-name">
					Set Name
				</div>
				<div class="input-div">
					<input type="text" name="setName" value="" class="form-control setinput-font" autofocus="autofocus" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group field-type">
				<div class="option-name">
					Type
				</div>
				<div class="input-div">
					<select class="setType-field form-control setinput-font" name="type" autofocus="autofocus" required="required">
						<option selected="true" value="AMRAP"> AMRAP </option>
						<!-- <option value="Interval"> Interval </option> -->
						<option value="RSFT"> RFT/SFT </option>
						<optgroup label="Interval">
							<option value="EMOM"> EMOM </option>
							<option value="Tabata"> Tabata </option>
							<option value="Interval"> Custom</option>
						</optgroup>
					</select>
					<span id="help-text" class="help-block"></span>
					<span id="error-text" class="help-block"></span>
				</div>
			</div>

			<div class="form-group field-song-id {{intervalCustomClass}}">
				<div class="option-name">
					Song (mp3 only)
				</div>
				<div class="input-div">
					<input type="file" id="field-song-id" class="file" multiple="false" data-show-upload="false" data-show-caption="true" data-field="songId">
					<input type="hidden" name="songId" value="">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group hidden">
				<span> Or </span>
				{{#if spotifyPlaylist.length}}
					<select class="form-control" id="spotify-playlist" name="spotifyPlaylist">
						<option class='disabled' disabled selected>Select From Your Spotify Playlist</option>
						{{#each spotifyPlaylist}}
							<option value="{{id}}"> {{ name }} </option>
						{{/each}}
					</select>
				{{else}}
					<button class="btn btn-success" type="button" id="select-spotify-playlist">
						Select Spotify Playlist
					</button>
				{{/if}}
			</div>

			<div class="form-group {{amrapCustomClass}}">
				<div class="option-name">
					Time Frame/Cap Time
				</div>
				<div class="input-div">
					<input class="form-control setinput-font" type="number" value="" name="timeframe" placeholder="Enter Timeframe in minutes">
				</div>
			</div>

			<div class="form-group difficulty">
				<div class="option-name">
					Difficulty
				</div>
				<div class="input-div">
					<select name="difficulty" class="form-control setinput-font" value="easy">
						<option value="easy"> Easy </option>
						<option value="moderate"> Moderate </option>
						<option value="hard"> Hard </option>
					</select>
				</div>
			</div>

			{{#if isUploading}}
				<div class="notification">
	           		<p class="lead">
	           			Uploading
		            	<span class="fa fa-refresh fa-spin"></span>
	            	</p>
	          	</div>
			{{else}}
				<div class="form-group  field-publish hidden">
					<div class="input-div">
						<div class="checkbox">
							<div>
								<input type="checkbox" value="" name="publish" data-type="bool">
								Publish
							</div>
						</div>
						<span id="help-text" class="help-block">
						</span>
						<span id="error-text" class="help-block">
						</span>
					</div>
					<input type="hidden" name="preview_count" value="2" />
				</div>
				<div class="form-group align-center none-margin">
					{{> AddExercises }}
				</div>
				<div class="form-group">
					<div class="submit-div col-xs-12">
						<div class="col-xs-6 align-right right-padding">
							<button id="form-submit-button" class="btn btn-success midbtn-width" type="submit">
								<span class="fa fa-check">
								</span>
								Save
							</button>
						</div>
						<div class="col-xs-6 left-padding">
							<a href="#" id="form-cancel-button" class="btn btn-default midbtn-width">
								Cancel
							</a>
						</div>
					</div>
				</div>
			{{/if}}
		</form>
	</div>
</template>

