<template name="SetsInsert">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> SetsInsertInsertForm}}
	</div>
</template>

<template name="SetsInsertInsertForm">
	<div id="sets-insert-insert-form" class="">
		<h2 id="component-title">
			New set
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-set-name">
				<label for="setName">
					Set Name
				</label>
				<div class="input-div">
					<input type="text" name="setName" value="" class="form-control" autofocus="autofocus" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group field-type">
				<label for="type">
					Type
				</label>
				<div class="input-div">
					<select class="setType-field form-control" name="type" autofocus="autofocus" required="required">
						<option selected="true" value="AMRAP"> AMRAP </option>
						<!-- <option value="Interval"> Interval </option> -->
						<option value="RSFT"> RFT/SFT </option>
						<optgroup label="Interval">
							<option value="EMOM"> EMOM </option>
							<option value="Tabata"> Tabata </option>
							<option value="Interval"> Custom</option>
						</optgroup>
					</select>
					<span id="help-text" class="help-block"></span>
					<span id="error-text" class="help-block"></span>
				</div>
			</div>

			<div class="form-group field-song-id {{intervalCustomClass}}">
				<label for="songId">
					Song (mp3 only)
				</label>
				<div class="input-div">
					<input type="file" id="field-song-id" class="file" multiple="false" data-show-upload="false" data-show-caption="true" data-field="songId">
					<input type="hidden" name="songId" value="">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group hidden">
				<span> Or </span>
				{{#if spotifyPlaylist.length}}
					<select class="form-control" id="spotify-playlist" name="spotifyPlaylist">
						<option class='disabled' disabled selected>Select From Your Spotify Playlist</option>
						{{#each spotifyPlaylist}}
							<option value="{{id}}"> {{ name }} </option>
						{{/each}}
					</select>
				{{else}}
					<button class="btn btn-success" type="button" id="select-spotify-playlist">
						Select Spotify Playlist
					</button>
				{{/if}}
			</div>

			<div class="form-group {{amrapCustomClass}}">
				<label form="cap-time">
					Time Frame/Cap Time
				</label>
				<div class="input-div">
					<input class="form-control" type="number" value="" name="timeframe" placeholder="Enter Timeframe in minutes">
				</div>
			</div>

			{{#if isUploading}}
				<div class="notification">
	           		<p class="lead">
	           			Uploading
		            	<span class="fa fa-refresh fa-spin"></span>
	            	</p>
	          	</div>
			{{else}}
				<div class="form-group  field-publish">
					<div class="input-div">
						<div class="checkbox">
							<label>
								<input type="checkbox" value="" name="publish" data-type="bool">
								Publish
							</label>
						</div>
						<span id="help-text" class="help-block">
						</span>
						<span id="error-text" class="help-block">
						</span>
					</div>
					<input type="hidden" name="preview_count" value="2" />
				</div>
				<div class="form-group">
					{{> AddExercises }}
				</div>
				<div class="form-group">
					<div class="submit-div">
						<button id="form-submit-button" class="btn btn-success" type="submit">
							<span class="fa fa-check">
							</span>
							Save
						</button>
						<a href="#" id="form-cancel-button" class="btn btn-default">
							Cancel
						</a>
					</div>
				</div>
			{{/if}}
		</form>
	</div>
</template>

