<template name="WorkoutsLive">
	<section id="radio">
        <div class="row">
          <div class="col-xs-12">
          	<!-- 
          	<div class="topbar">
              <ul class="list-inline">
                <li><a href="#"><i class="fa fa-bars"></i></a></li>
                <li>
                  <button class="btn btn-lg up"><span>My Stations</span></button>
                  <button class="btn btn-lg ult"><span>Browse</span></button>
                </li>
              </ul>
            </div>
             -->
            <div class="recent">
              <ul class="list-inline">
                <li>
                  <button class="btn btn-lg up"><span>recent</span></button>
                </li>
                <li>
                  <p>A-Z</p>
                </li>
              </ul>
            </div>
            {{#each getWorkoutSets this.workout_details}}
            	<a href="{{pathFor 'sets.live' setId=_id}}">
	            	<div class="songspuse">
		              <ul class="list-inline">
		                <li>
		                  	<div class="img">
		                  		<!-- <img src="img/song1.jpg" /> -->
		                  		<span>
			                      <div class="tack-mame">
			                        <p> {{ setName }} </p>
			                        <h6> Duration: {{setDuration}}s </h6>
			                        <h6> Created in {{createdAt}} </h6>
			                      </div>
		                    	</span>
		                    </div>
		                </li>
		              </ul>
		            </div>
	            </a>
	    	{{/each}}
          </div>
      </div>
    </section>
</template>


