#radio .topbar {
  background-color: #f9f9f9;
  margin-top: 50px;
  padding: 10px 5px 1px 10px;
  text-align: center;
}
#radio .topbar ul li span {
  text-transfrom: uppercase;
}
#radio .topbar ul li button {
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 2px 3px #444;
  color: #224099;
  font-weight: 800;
  border-radius: 40px;
  padding: 10px 30px;
}
#radio .topbar ul li .ult {
  background-color: #999;
  color: #fff;
}
#radio .topbar ul li i {
  font-size: 26px;
  padding-right: 50px;
}
#radio .recent {
  background-color: #eee;
  text-align: center;
  margin-top: 0px;
  border-bottom: 1px solid #999;
  height: 60px;
}
#radio .recent ul {
  margin-bottom: 0;
}
#radio .recent button {
  text-align: center;
  background-color: #224099;
  color: #fff;
  font-weight: 200;
  border-radius: 40px;
  padding: 5px 30px;
}
#radio .recent p {
  font-size: 26px;
  padding-top: 5px;
}
#radio .creat,
#radio .shafl {
  height: 60px;
  background-color: #eee;
  margin-top: 0;
  padding-top: 0;
}
#radio .creat .icon,
#radio .shafl .icon {
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
  heighr: 40px;
  width: 40px;
  background-color: #224099;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
#radio .creat span,
#radio .shafl span {
  font-size: 24px;
  margin-left: 20px;
}
#radio .shafl {
  border-top: 1px solid #999;
}
#radio .shafl .icon {
  background-color: #6080dc;
}
#radio .shafl span {
  font-size: 20px;
  margin-left: 20px;
}
#radio .songs {
  background-color: #224099;
}
#radio .songs ul {
  margin-bottom: 0;
}
#radio .songs ul li .img img {
  height: 60px;
  width: 60px;
  float: left;
  margin-top: 8px;
  margin-left: 10px;
}
#radio .songs ul li .img span {
  display: inline-block;
  margin-left: 20px;
}
#radio .songs ul li .img span .tack-mame p {
  font-weight: 600;
  margin-top: 17px;
  color: #fff;
}
.songspuse {
  background-color: #eee;
  margin-top: 0;
  border-top: 1px solid #999;
  cursor: pointer;
}
.songspuse ul {
  margin-bottom: 0;
}
.songspuse ul li .img img {
  height: 60px;
  width: 60px;
  float: left;
  margin-top: 8px;
  margin-left: 10px;
}
.songspuse ul li .img span {
  display: inline-block;
  margin-left: 20px;
}
.songspuse ul li .img span .tack-mame {
  width: 100%;
}
.songspuse ul li .img span .tack-mame p {
  font-weight: 600;
  margin-top: 17px;
  color: #1a1a1a;
}
.songspuse:hover {
  background-color: #224099;
  -webkit-transition: 0.3s all;
          transition: 0.3s all;
}
.songspuse:hover ul li span .tack-mame p,
.songspuse:hover ul li span .tack-mame h6{
  color: #fff;
}
