<template name="CoachList">
	<div class="set-title">
		<div class="title-middle">
			<span>Coaches</span>
		</div>
	</div>
	<section id="radio">
		<div class="">
			{{#each this.coaches}}
			<div class="underline">
				<a href="{{ pathFor 'coaches.details' coachId=_id }}">
					<div class="list-div">
						<div class="col-xs-4 coach-photo">
							<img src="{{ getProfilePictureSource }}" />
						</div>
						<div class="col-xs-8 profile-data">
							<div class="coach-name"> {{ profile.name }} </div>
							<div class="follower-div">
								<i class="fa fa-user followers" aria-hidden="true"> </i>
								<small> 1 </small>
							</div>
						</div>
					</div>
				</a>
			</div>
			{{/each}}
		</div>
	</section>
</template>