<template name="AddExercises">
	{{#if exerciseAction}}
		<div>
			<div class="title-font">
				{{ exerciseAction }} set exercises
			</div>
			<div class="update-set-exercises">
				<div class="form-group shortma-bottom">
					<label> Cycle: </label>
					<input class="text-center dark-font" type="number" name="cycle" value="{{ getCycle }}" required />
				</div>
				<div class="form-inline no-style align-left" role="form" id="exercise-group-wrapper">
					{{#if isAdding}}
						{{> addSetExercisesList isReadOnly=isReadOnly exercises=exercises label=getLabel getDurationValue=getDurationValue}}
					{{else}}
						{{> editSetExercisesList isReadOnly=isReadOnly exercises=exercises label=getLabel selectedSetExercises=selectedSetExercises}}
					{{/if}}
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-primary bigbtn-width" id="add-new-exercise"> 
						<span class="fa fa-plus"></span>
						Add Exercise
					</button>
				</div>
				
				<div>
					<button class="btn btn-success save-set-exercise" type="button" data-id="{{ getSelectedId }}">
						<span class="fa fa-check"></span>
						Save Set Exercises
					</button>
					<button class="btn btn-default cancel-exercise" type="button">
						Cancel
					</button>
				</div>
			</div>
		</div>
	{{else}}
		<div style="padding-bottom:15px">
			<button class="btn btn-success add-exercise bigbtn-width" type='button'>
				<span class="fa fa-plus"></span>
				Add New Set Exercises
			</button>
		</div>
	{{/if}}
	

	{{#if hasExercises}}
		{{#each getExercises}}
			<div class="well well-sm custom-well">
				<button type="button" class="btn btn-default pull-right delete-set-exercises"> 
					<span class="fa fa-trash"></span>
				</button>		
				<button type="button" class="btn btn-default pull-right edit-set-exercises">
					<span class="fa fa-pencil"></span>
				</button>
				<p>
					Cycle
					<span class="badge"> {{ cycle }} </span>
				</p>
				<ul class="no-style">
					{{#each this.exercises}}
						<li> {{exercise}} - {{duration}} </li>
						
					{{/each}}
				</ul>
			</div>
		{{/each}}
	{{/if}}
</template>