<template name="AddExercises">
	{{#if exerciseAction}}
		<div>
			<h2>
				{{ exerciseAction }} set exercises
			</h2>
			<div class="update-set-exercises">
				<div class="form-group">
					<label> Cycle: </label>
					<input class="text-center" type="number" name="cycle" value="{{ getCycle }}" required />
				</div>
				<ul class="form-inline no-style" role="form" id="exercise-group-wrapper">
					{{#if isAdding}}
						{{> addSetExercisesList isReadOnly=isReadOnly exercises=exercises label=getLabel getDurationValue=getDurationValue}}
					{{else}}
						{{> editSetExercisesList isReadOnly=isReadOnly exercises=exercises label=getLabel selectedSetExercises=selectedSetExercises}}
					{{/if}}
				</ul>
				<div class="form-group">
					<button type="button" class="btn btn-primary" id="add-new-exercise"> 
						<span class="fa fa-plus"></span>
						Add Exercise
					</button>
				</div>
				
				<div>
					<button class="btn btn-success save-set-exercise" type="button" data-id="{{ getSelectedId }}">
						<span class="fa fa-check"></span>
						Save Set Exercises
					</button>
					<button class="btn btn-default cancel-exercise" type="button">
						Cancel
					</button>
				</div>
			</div>
		</div>
	{{else}}
		<button class="btn btn-success add-exercise" type='button'>
			<span class="fa fa-plus"></span>
			Add New Set Exercises
		</button><br/>
	{{/if}}
	<br />

	{{#if hasExercises}}
		{{#each getExercises}}
			<div class="well well-sm custom-well">
				<button type="button" class="btn btn-default pull-right delete-set-exercises"> 
					<span class="fa fa-trash"></span>
				</button>		
				<button type="button" class="btn btn-default pull-right edit-set-exercises">
					<span class="fa fa-pencil"></span>
				</button>
				<p>
					Cycle
					<span class="badge"> {{ cycle }} </span>
				</p>
				<ul class="no-style">
					{{#each this.exercises}}
						<li> {{exercise}} - {{duration}} </li>
						
					{{/each}}
				</ul>
			</div>
		{{/each}}
	{{/if}}
</template>