<template name="CoachDetails">
	<div id="page_menu" class="set-title">
		<div class="title-middle">
		<span> Coach Information </span>
			<a href="{{pathFor 'coaches'}}" class="pull-left back-btn" title="back">
				<span class="fa fa-chevron-left fa-1x"></span>
			</a>
		</div>
	</div>
	<div class="page-container container">
		<!-- Coach information -->
		<div class="text-center">
			<div class="detail-photo">
				<img src="{{ getProfilePictureSource }}" alt="Photo" />
			</div>
			<div class="detail-name">
				{{ this.coach.profile.name }}
			</div>
			<div class="detail-follow">
				<i class="fa fa-user followers" aria-hidden="true"> </i>
				<small> 1 </small>
			</div>
		</div>
	</div>
</template>