<template name="CoachDetails">
	<div class="page-container container">
		<div class="row">
			<div id="page_menu" class="set-title">
				<div class="title-middle">
				<span> Coach Information </span>
					<a href="{{pathFor 'coaches'}}" class="pull-left back-btn" title="back">
						<span class="fa fa-chevron-left fa-1x"></span>
					</a>
				</div>
			</div>

			<!-- Coach information -->
			<div class="text-center">
				<img src="{{ getProfilePictureSource }}" alt="Photo" />
				<p> {{ this.coach.profile.name }} </p>
				<div class="follower-div">
					<i class="fa fa-user followers" aria-hidden="true"> </i>
					<small> 1 </small>
				</div>
			</div>
		</div>
	</div>
</template>