.detail-name{
    color: #ff9e45;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.detail-photo{
    margin-top: 20px;
    margin-bottom: 10px;
}

.detail-follow{
    color: #dadada;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}