<template name="HomePrivate">
    <!--   <div class="row" id="title_row">
            <div class="col-md-12">
                <h2 id="page_title" class="pull-left">
                    SmashBeats - Workouts & Music
                </h2>
                <div id="page_menu" class="pull-right">
                </div>
            </div>
        </div>
        <p id="page_text">
            Welcome {{userFullName}}!
        </p>
        <div class="row">
            <a href="/sets?type=EMOM" class="btn btn-block btn-primary">EMOM</a>
            <a href="/sets?type=Tabata" class="btn btn-block btn-primary">Tabata</a>
            <a href="/sets?type=Interval" class="btn btn-block btn-primary">Custom Interval</a>
        </div> -->
    <section id="radio">
        <div class="row">
            <div class="col-xs-12">
                <div class="recent">
                    <button class="btn btn-lg up"><span>recent (a-z)</span></button>
                    <!--span class="txt-az">A-Z</span-->
                </div>
                {{#each this.set_list}}
                    <div data-toggle="collapse" class="underline" href="#{{_id}}">
                        <div class="list-div">

                            <div class="col-xs-6 list-title">
                                {{ setName }}

                            </div>
                            <div class="dur-btn">
                                <div class="list-btn">
                                    {{#if isDefault}}
                                        <button class="btn btn-col fix-width set-execution-btn pull-right btn-primary text-primary"> Smash it!</button>
                                    {{/if}} 
                                    {{#unless isDefault}} 
                                        {{#if hasPreviewCredits }}
                                            <button class="btn fix-width set-execution-btn pull-right btn-info text-primary"> Preview ({{ preview_count }}) </button>
                                        {{else}}
                                            <button class="btn fix-width set-execution-btn pull-right btn-success text-primary"> Buy </button>
                                        {{/if}} 
                                    {{/unless}}
                                </div>
                                <div class="txt-dur">{{setDuration}} secs</div>
                            </div>

                        </div>
                        <div id="{{_id}}" class="panel-collapse collapse">
                            <span class="list-dev-txt"> Exercises: </span>                                                    
                            <div class="list-block">
                                {{#each set_exercises_joined}}
                                    {{#if isSingleCycle cycle}}
                                        <div class="col-xs-3"></div>
                                    {{else}}
                                        <div class="col-xs-3">
                                            <div class="pull-right bracket-div">
                                                <img class="img-bra" src="/images/bracket.png" style="height : {{ getBracketHeight exercises.length }}em;" />
                                            </div>
                                            <div class="stacked-icons repeat-align-second" style="margin-top: {{centerToBracket exercises.length }}em;">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-refresh fa-stack-1x fa-stroke-home"></i>
                                                    <strong class="fa-stack-1x" style="font-size:25px; color:white;"> {{ cycle }} </strong>
                                                </span>
                                            </div>
                                        </div>
                                    {{/if}}
                                    <div class="col-xs-9">
                                        {{#each exercises}}
                                            <div class="ex-list">
                                                <span class="list-dur"> {{ duration }}s </span>
                                                <span class="list-item"> {{ exercise }} </span>
                                            </div>
                                        {{/each}}
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>

    <div class="radio">
        <div class="div-voice">
            <label class="voice-text"> Voice: </label>
            <!-- <span> {{getVoiceOption}} </span> -->
            <button class="btn btn-success btn-xs voice-option-btn"> {{getVoiceOption}} </button>

            <!-- set up dive modal to start hidden and fade in and out -->
            <div id="voice-option-modal" class="modal fade">
                {{> VoiceOptionModal }}
            </div>
        </div>

    </div>
</template>

<template name="VoiceOptionModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

                <div class="modal-txtbtn">
                    <div class="modal-txt"> English </div>
                    <div class="modal-btn"> <button class="btn btn-primary btn-xs"> Choose </button> </div>
                </div>
                <div class="modal-txtbtn">
                    <div class="modal-txt"> Batman </div>
                    <div class="modal-btn">
                        <button class="btn btn-primary btn-xs"> Preview </button>
                        <button class="btn btn-success btn-xs"> Purchase </button>
                    </div>
                </div>
                <div class="modal-txtbtn">
                    <div class="modal-txt"> Drill Insdivuctor </div>
                    <div class="modal-btn">
                        <button class="btn btn-primary btn-xs"> Preview </button>
                        <button class="btn btn-success btn-xs"> Purchase </button>
                    </div>
                </div>
                <div class="modal-txtbtn">
                    <div class="modal-txt"> Woman </div>
                    <div class="modal-btn">
                        <button class="btn btn-primary btn-xs"> Preview </button>
                        <button class="btn btn-success btn-xs"> Purchase </button>
                    </div>
                </div>
                <div class="modal-txtbtn">
                    <div class="modal-txt"> Sexy Woman</div>
                    <div class="modal-btn">
                        <button class="btn btn-primary btn-xs"> Preview </button>
                        <button class="btn btn-success btn-xs"> Purchase </button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default done">Done</button>
            </div>
        </div>
    </div>
</template>