.sticky-wrapper{
    background-color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
}

.recent{
    height: 40px !important;
    padding: 4px !important;
}

#radio .recent button{
    text-align: center;
    background-color: #4caf50;
    color: #fff;
    font-weight: 200;
    border-radius: 40px;
    padding: 3px 30px;
    box-shadow: 0 3px 3px rgb(36, 87, 38);
    -webkit-box-shadow: 0 3px 3px rgb(36, 87, 38);
}

.txt-az{
    color: #000;
    font-size: 14px;

}

.list-div{
    display: table;
    width: 100%;
    margin-bottom: 0px;
    padding: 1em;
}

.underline{
    border-bottom: 1px solid #5a5a5a;
    border-width: thin;
}

.list-title{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     color: #ff9e45;
     padding-left: 0.5em !important;
 }

.list-duration{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16px;
     color: #fff;
     text-align: right;
     padding-left: 1em !important;
     padding-top: 0.3em !important;
 }

 .list-btn{
     padding-right: 1em !important;
     width: 120px;
     float: right;
 }

 .panel-collapse{
     background-color: #353535;
     color: #fff;
     float: left;
     width: 100%;
     padding-left: 2em;
 }

 h6{
     color: #fff;
 }

#radio .recent {
    background-color: #dadada;
    text-align: center;
    margin-top: 0px;
    border-bottom: 2px solid #2196f3;
    height: 60px;
    padding: 1em;
}

.col-xs-6{
    padding: 0px;
}

.div-voice{
    width: 150px;
    margin: 2em auto;
}

.voice-text{
    color: #fff;
    font-size: 14px;
}

.dur-btn{
    width: 50%;
    float: right;
}

.txt-dur{
    width: 80px;
    float: right;
    font-size: 16px;
    color: #fff;
    padding-top: 0.3em;
}

.fix-width{
    width: 110px;
}

/* modal dialog */
.modal-content{
    background: rgba(230, 230, 230, 0.9);

    padding-left: 3em;
    padding-right: 3em;
}

.modal-txtbtn{
    width: 100% !important;
    display: flex;
    display: -webkit-flex;
    padding: 0.3em;
}

.modal-txt{
    width: 50% !important;
    font-family: Arial, Helvetica, sans-serif;
    color: #353535;
    padding-left: 3em;
}

.modal-btn{
    width: 50%;
}

.modal-btn > .btn-xs{
    width: 75px;
     
}

.modal-footer{
    text-align: center;
}



/*static-list*/

.list-block{
    font-size: 20px;
}

.col-xs-8{
    font-size: 1em;
    padding-left: 0em;
}

.col-xs-4{
    padding: 0em;
}

.col-xs-3, .col-xs-9, .col-xs-2, .col-xs-10{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0.2em;
}

.list-dev-txt{
    font-size: 1.5em !important;
    padding-left: 2em;
}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 1em !important;
    height: 1.5em !important;
    line-height: 1.3em !important;
    vertical-align: middle;
}

.fa-stroke-home{
    -webkit-text-stroke: 6px #353535;
}

.list-dur{
    padding-left: 0.5em;
}

.list-item{
    padding-left: 1em;
}

.bracket-div{
    font-size: 2em;
    padding-left: 0.2em;
}


.img-bra{
    width: 0.5em;
}

.repeat-align-first{
    margin-top: 3em;
    margin-right: 0.5em;
    float: right;
}

.repeat-align-second{
    margin-right: 0.5em;
    float: right;
}

.ex-list{
    padding-top: 1px;
}


/* responsive */
@media only screen and (max-width : 460px) {
    
    .modal-content{
        padding-left: 1em;
        padding-right: 1em;
    }

}

@media only screen and (max-width : 446px){

    .txt-dur{
        display: none;
        width: 100%;
        
    }

    .dur-btn{
        float: right;
    }

}

@media only screen and (max-width : 278px) {
    .col-xs-6{
        width: 100%;
    }

    .dur-btn{
        width: 100%;
        float: right;
    }       

}

@media only screen and (max-width : 408px){
    .modal-content{
        padding-left: 0px;
        padding-right: 0px;
    }

    .modal-txt{
        width: 100% !important;
        padding-left: 1em !important;
    }

    .modal-btn{
        width: 100% !important;
    }

    .modal-txtbtn{
        display: block !important;
    }
}


@media only screen and (max-width : 665px) {
    
    .repeat-align-second{
        margin-right: 0em;
        float: right;
    }

    .list-dur{
        padding-left: 0em;
    }

    .list-item{
        padding-left: 0.5em;
    }


}

