<template name="Sets">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> SetsView}}
	</div>
</template>

<template name="SetsView">
	<div id="sets-view" class="">
		<h2 id="component-title">
			Sets
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-insert" class="form-group {{insertButtonClass}}">
				<button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
					Add new
				</button>
			</div>
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> SetsViewTable}} {{/if}}
		</div>
		{{/if}}
		{{else}}
		<div class="alert alert-info">
			No sets :(
		</div>
		{{/if}}
	</div>
</template>

<template name="SetsViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="setName">
					Set Name
				</th>
				<th class="th-sortable" data-sort="setDuration">
					Duration
				</th>
				<th class="th-sortable" data-sort="type">
					Type
				</th>
				<th class="th-sortable" data-sort="publish">
					Publish
				</th>
				<th class="th-sortable" data-sort="songId">
					Song (mp3 only)
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> SetsViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="SetsViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{setName}}
		</td>
		<td>
			{{setDuration}}
		</td>
		<td>
			{{type}}
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="publish" {{checked publish}}>
		</td>
		<td>
			{{songId}}
		</td>
		<td class="td-icon">
			{{#unless isDefault}}
				<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
				</span>
			{{/unless }}
		</td>
		<td class="td-icon">
			{{#unless isDefault}}
				<span id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Delete">
				</span>
			{{/unless }}
		</td>
	</tr>
</template>

