<template name="SetsLive">
	<div id="page_menu" class="set-title">
		<div class="title-middle">
			<span>{{ setDetail.setName }}</span>
			<a href="#" id="form-back-button" class="pull-left back-btn" title="back">
				<span class="fa fa-chevron-left fa-1x"></span>
			</a>
		</div>
	</div>
	<div class="page-container container" id="content">
		<div class="">
			<div class="text-center">
				<!-- popcorn js target | used div to allow popcorn to play even w/out audio uploaded-->
				<div id="setAudio"></div>
				<div id="cueAudio" style="display: none;"></div>

				<!-- Audio Wrapper -->
				<div class='audio-wrapper'>
					<audio preload="auto" id="audio-item"></audio>
				</div>
				
				<!-- Controls -->		
				<div class="top-padding">
					<button class="btn default btn-primary backward-btn {{disabledClass}}">
						<span class="fa fa-backward {{disabledClass}}"></span>
					</button>
					<button class="btn default btn-success" id="playbutton">
						<span class="fa fa-{{playBtnClass}}"></span>
					</button>
					<button class="btn default btn-primary forward-btn {{disabledClass}}">
						<span class="fa fa-forward {{disabledClass}}"></span>
					</button>
					<!-- <canvas id="playbutton" width="75" height="75" class=""></canvas> -->
				</div>

				<!-- Countdown Timer -->
				<div class="row">
					<p class="timer-wrapper text-warning"> 
						{{ getCountdownTimer }} <!-- countdown timer -->
					</p>				
				</div>

				<!-- Exercise List -->
				<div class="row set-exercises-wrapper">
					<!--  Exercise List -->
					{{#each getSetExercises}}
						<p id="set-exercise-item-{{_id}}">
							{{ exercise }}
						</p>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</template>



