.container-padding{
    padding-right: 10px !important;
    padding-left: 10px !important;
}

#dataview-controls {
    margin-bottom: 10px;
    margin-top: 2em;
}

.form-div{
    padding-top: 10px;
}

.table-title{
    color: #ff9e45;
    font-size: 20px;
    border-bottom: 1px solid #5a5a5a;
    border-width: thin;

}

.exercise-list{
    color: #dadada;
    font-size: 20px;
    height: 2.5em;
    border-bottom: 1px solid #5a5a5a;
    border-width: thin;
    display: table;
}

.exercise-name{
    margin-top: 0.5em;
}

.exercise-btn{
    margin-top: 0.5em;
    float: right;
}

.icon-div{
    float: right;
    width: 45px;
    text-align: center;
}

.smallbtn-width{
    width: 42px;
    text-align: center;
}


@media (min-width: 0px){
    .form-inline .form-control {
        display: inline-block;
        vertical-align: middle;
        width: 200px;
    }

    
}

@media (max-width: 356px){
    .add-btn{
        width: 100%;
    }

    .search-block{
        width: 100%;
    }

    .exercise-name{
        width: 100% !important;
    }

    .exercise-btn{
        width: 100% !important;
    }
  
}

@media (max-width: 468px){
    .search-length{
        width: 130px !important;
    }
}

@media (min-width: 768px){
    .search-length{
        width: 300px !important;
    }
}

@media (max-width: 390px){
    .exercise-name{
        width: 70%;
    }

    .exercise-btn{
        width: 30%;
    }
}


