<template name="ExercisesList">
	<div id="page_menu" class="set-title">
		<div class="title-middle">
			<span>Exercises</span>
		</div>
	</div>
	<div class="page-container container container-padding" id="content">
		{{> ExercisesView}}
	</div>
</template>

<template name="ExercisesView">
	<div id="sets-view" class="">
		<!--h2 id="component-title">
			Exercises
		</h2-->
		<div class="form-div">
			<form id="dataview-controls" class="form-inline">
				<div id="dataview-controls-insert" class="form-group {{insertButtonClass}} col-xs-3 add-btn">
					<button type="submit" id="dataview-insert-button" class="btn btn-success">
						<span class="fa fa-plus">
						</span>
						Add new
					</button>
				</div>
				<div id="dataview-controls-search" class="col-xs-9 search-block">
					{{#if isNotEmpty}}
					<div id="dataview-controls-search-group" class="form-group pull-right">
						<label class="sr-only" for="search">
							Search
						</label>
						<input type="text" class="form-control search-length search-resp" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
						<button type="button" id="dataview-search-button" class="btn btn-primary">
							<span class="fa fa-search">
							</span>
						</button>
					</div>
					{{/if}}
				</div>
			</form>
		</div>
		{{#if isNotEmpty}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} 
				{{> ExercisesViewTable}} 
			{{/if}}
		</div>
		{{/if}}
		{{else}}
		<div class="alert alert-info">
			No exercises :(
		</div>
		{{/if}}
	</div>
</template>

<template name="ExercisesViewTable">
	<div id="dataview-table" class="">
		<div id="dataview-table-header" class="table-title align-center">
			Exercise
		</div>
		<div id="dataview-table-items" class="">
			{{#each tableItems}} {{> ExercisesViewTableItems}} {{/each}}
		</div>
	</div>
</template>

<template name="ExercisesViewTableItems">
	<div class="col-xs-12 exercise-list" id="to-detail-page">
		<div class=" col-xs-9 exercise-name">
			{{name}}
		</div>
		<div class="col-xs-3 exercise-btn">
			<div class="icon-div col-xs-6">
				<button id="edit-button" class="btn btn-success smallbtn-width">
					<span class="fa fa-pencil {{editButtonClass}}" title="Edit">
					</span>
				</button>
			</div>
			<div class="icon-div col-xs-6">
				<button id="delete-button" class="btn btn-danger {{deleteButtonClass}} smallbtn-width">
					<span class="fa fa-trash-o {{deleteButtonClass}}" title="Delete">
					</span>
				</button>
			</div>
			
			
		</div>
	</div>
</template>