<template name="UserSettings">
	<div class="page-container container">
		<div class="row">
			{{> UserSettingsSideMenu}}
		</div>
		<div id="subcontent" class="col-sm-9 col-md-10">
			{{> yield region='UserSettingsSubcontent'}}
		</div>
	</div>
</template>

<template name="UserSettingsSideMenu">
	<div id="page_menu" class="set-title">
		<div id="menu-items" class="col-xs-12 nav nav-stacked nav-pills">
			<a href="{{pathFor 'user_settings.profile'}}">
				<div id="menu-item-simple" class="col-xs-3 align-center {{menuItemClass 'user_settings.profile'}}">
					<span class="tab-title {{menuItemClass 'user_settings.profile'}}">
						Profile
					</span>
				</div>
			</a>
			<a href="{{pathFor 'user_settings.change_pass'}}">
				<div id="menu-item-simple" class="col-xs-6 align-center {{menuItemClass 'user_settings.change_pass'}}">
					<span class="tab-title {{menuItemClass 'user_settings.change_pass'}}">
						Change password
					</span>
				</div>
			</a>
			{{#unless isAdmin}}
			<a href="{{pathFor 'user_settings.become_coach'}}">
				<div id="menu-item-simple" class="col-xs-3 align-center {{menuItemClass 'user_settings.become_coach'}}">
					<span class="tab-title {{menuItemClass 'user_settings.become_coach'}}">
						Coach
					</span>
				</div>
			</a>
			{{/unless}}
		</div>
	</div>

</template>