<template name="EditExercise">
	<div class="container">
		<form class="container">
			<h2> Edit Exercise </h2>
			<div class="form-group">
				<label> Exercise: </label>
				<input name='name' class="form-control" placeholder="Exercise Name" value="{{this.exercise_details.name}}" required />
			</div>
			<div class="form-group hidden">
				<label> Duration/Rep: </label>
				<input type='number' name="duration" class="form-control" value="{{this.exercise_details.duration}}" id="exercise-duration" required />
			</div>
			<!-- <div class="form-group">
				<label> Record new Cue: </label><br/>
				{{#if isRecording}}
					<button type="button" class="btn btn-danger" id='record-cue-stop'> Stop Recording </button>
					<p class="text-lead">Recording ...</p>
				{{else}}
					<button type="button" class="btn btn-primary" id='record-cue-start'> Start Recording </button>
				{{/if}}
			</div>
			<p> OR </p> -->
			{{#if isAdmin}}
				<div class="form-group">
					<label for="default_cue">
						Default Cue
					</label>
					<input type='url' value="{{this.exercise_details.default_cue}}" placeholder="Audio url here" name="default_cue" class="form-control" id="default-cue" />
				</div>
			{{else}}
				<div class="form-group field-song-id">
					<label for="songId">
						Upload new Cue (mp3):
					</label>
					<div class="input-div">
						<input type="file" id="field-song-id" class="file" multiple="false" data-show-upload="false" data-show-caption="true" data-field="songId">
						<input type="hidden" name="songIds" value="">
						<span id="help-text" class="help-block">
						</span>
						<span id="error-text" class="help-block">
						</span>
					</div>
				</div>
			{{/if}}
			{{#if isUploading}}
				<div class="notification">
	           		<p class="lead">
	           			Uploading
		            	<span class="fa fa-refresh fa-spin"></span>
	            	</p>
	          	</div>
			{{else}}
				{{#unless isRecording}}
					<div class="form-group">
						<button class="btn btn-success save" type="submit" data-id="{{ getSelectedId }}">
							<span class="fa fa-check"></span>
							Save Exercise
						</button>
						<button class="btn btn-default" id="form-cancel-button" type="button">
							Cancel
						</button>
					</div>
				{{/unless}}
			{{/if}}
		</form>
	</div>
</template>